<div class="form-container center-block panel panel-default">

  <h4>sign up</h4>

  <%= form_tag("/sign_up", method: "post") do %>

    <div class="form-group">
      <input type="text" name="username" id="username" placeholder="username" class="form-control"/>
    </div>

    <div class="form-group">
      <input type="password" name="password" id="password" placeholder="password" class="form-control" />
    </div>

    <div class="form-group">
      <input type="password" name="password_confirmation" placeholder="password again" class="form-control" />
    </div>

    <div class="form-group">
      <input type="submit" value="sign up" class="btn btn-primary sign-button-1"/>
    </div>

  <% end %>

  <h4><%= link_to "Go to sign in", "/sign_in" %></h4>

</div>
