<div class="tropedex-container center-block panel panel-default">


<h4>edit trope</h4>

<%= render 'form' %>

<%= link_to 'delete!', trope_path(@trope), method: :delete, class: 'delete' %>

<h4><%= link_to "back", tropes_path %></h4>

</div>
