<div class="tropedex-container center-block panel panel-default">

  <h4>your tropes</h4>

  <ul>
    <li class="new-item">
      <%= link_to 'click to create a new trope', new_trope_path %>
    </li>
    <% @tropes.each do |trope| %>
      <li>
        <%= link_to trope.title, trope %>
      </li>
    <% end %>
  </ul>

</div>
