<div class="tropedex-container center-block panel panel-default">


<h4>new trope</h4>

<%= form_for :trope, url: tropes_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

</div>
