/* -----------------------------------*/
/* ---           RESETS            ---*/
/* -----------------------------------*/

/*
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* apply a natural box layout model to all elements, but allowing components to
/* change */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* -----------------------------------*/
/* ---           CORE              ---*/
/* -----------------------------------*/


html, body {
  height: 100%;
}

.peters-override {
	background-color: #f1f1f1;
}

/*body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}*/

h1, h2, h3, h4, h5, h6 {
  /*font-weight: 300;*/
  margin-top: 0;
}

/*ul {
  list-style-type: none;
}*/

a {
  text-decoration: none;
  /*color: #27ae60;*/
}

.new-item {
  font-weight: 700;
}

.form-container {
	width: 40%;
	padding: 2em 4em;
	position: absolute;
	  top: 42%;
	  left:50%;
	  transform: translate(-50%,-50%);
}

.tropedex-container {
	padding: 2em 4em;
	position: absolute;
		top: 42%;
		left:50%;
		transform: translate(-50%,-50%);
}

.sign-button-1 {
	margin-top: 1em;
	margin-right: .5em;
}

.set-button, #foo-remove {
	position: fixed;
	bottom: .5em;
	right: .5em;
}


/* -----------------------------------*/
/* ---           PANES             ---*/
/* -----------------------------------*/

.tropecontainer {
  height: 100%;
	width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
	/*margin: 0 1em;*/
	/*position: relative;*/
	z-index: 0;
}



.tropecontainer .solo {
  /*color: cyan;*/
	display: flex;
  flex-basis: calc(100% - 2.5em);
  justify-content: center;
	flex-direction: row;
	margin: 1em;
}

.solo ul {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.solo:nth-child(1) {
  /*background-color: #F7F7F7;*/
  justify-content: center;
  flex-direction: row;
}



.tropecontainer .duo {
  /*color: magenta;*/
	display: flex;
	flex-basis: calc(50% - 2.5em);
	justify-content: center;
	flex-direction: row;
	margin: 1em;
}

.duo ul {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.duo:nth-child(1) {
  /*background-color: #F7F7F7;*/
  justify-content: center;
  flex-direction: row;
}

.duo:nth-child(2) {
  /*background-color: #F7F7F7;*/
  justify-content: center;
  flex-direction: row;
}



.tropecontainer .trio {
	display: flex;
	flex-basis: calc(33% - 1.5em);
	justify-content: center;
	flex-direction: row;
  /*color: yellow;*/
	margin: .7em;
}

.trio ul {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.trio:nth-child(1) {
  /*background-color: #F7F7F7;*/
  justify-content: center;
  flex-direction: row;
}

.trio:nth-child(2) {
  /*background-color: #F7F7F7;*/
  justify-content: center;
  flex-direction: row;
}

.trio:nth-child(3) {
  /*background-color: #F7F7F7;*/
  justify-content: center;
  flex-direction: row;
}



.tropecontainer .quatro {
  /*color: darkgray;*/
  display: flex;
	flex-basis: calc(50% - 1.5em);
  justify-content: center;
	flex-direction: row;
	margin: .5em;
}

.quatro ul {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.quatro:nth-child(1) {
  /*background-color: #F7F7F7;*/
  justify-content: center;
  flex-direction: row;
}

.quatro:nth-child(2) {
  /*background-color: #F7F7F7;*/
  justify-content: center;
  flex-direction: row;
}

.quatro:nth-child(3) {
  /*background-color: #F7F7F7;*/
  justify-content: center;
  flex-direction: row;
}

.quatro:nth-child(4) {
  /*background-color: #F7F7F7;*/
  justify-content: center;
  flex-direction: row;
}

.duo:nth-child(-n+1) button {
	display: none;
}

.trio:nth-child(-n+2) button {
	display: none;
}

.quatro:nth-child(-n+3) button {
	display: none;
}
