<div class="tropedex-container center-block panel panel-default">


<h4>edit panes</h4>

<%= render 'form' %>

<%= link_to 'delete', trope_pane_path(@trope, @pane), method: :delete, class: 'delete' %>

<h4><%= link_to "back", tropes_path %></h4>

</div>
